@charset "UTF-8";
/* Цвета */
/* Анимации */
/* ============================================ */
/* HEADER CODE */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .header__container {
  display: flex;
  padding: 35px 15px;
  align-items: center;
  color: rgb(27, 28, 36);
}
.header .header__container .header__logo {
  position: relative;
  z-index: 5;
}
.header .header__container .header__menu {
  flex: 1 1 auto;
}
.header .header__container .header__menu .menu__body {
  display: flex;
  justify-content: flex-end;
}
.header .header__container .header__menu .menu__body .menu__list {
  display: flex;
  gap: 50px;
}
.header .header__container .header__menu .menu__body .menu__list .menu__link {
  font-family: "Mulish";
  font-weight: 700;
  line-height: 2.4;
  transition: color 300ms ease-in-out;
}
.header .header__container .header__menu .menu__body .menu__list .menu__link:focus, .header .header__container .header__menu .menu__body .menu__list .menu__link:hover {
  color: rgb(0, 198, 159);
  transition: color 300ms ease-in-out;
}

@media (max-width: 500px) {
  .header .header__container .header__menu .menu__body .menu__list {
    display: none;
  }
  .header .header__container .header__menu .menu__body .hamburger-lines {
    display: flex;
  }
  .header .header__container .header__menu .menu__body .hamburger-lines .open-button {
    display: flex;
  }
}
