@charset "UTF-8";
/* Переменные */
/* Обнуление */
/* line 16, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* line 25, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
a {
  text-decoration: none;
}

/* line 29, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
ul,
ol,
li {
  list-style: none;
}

/* line 35, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
img {
  vertical-align: top;
}

/* line 39, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* line 49, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
html,
body {
  height: 100%;
  line-height: 1;
}

/* line 55, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
body {
  font-family: "Red Hat Text";
  font-size: 16px;
  color: #1b1c24;
  background-color: #fafafa;
}

/* ============================================ */
/* WHOLE CONTENT WRAPPER CODE */
/* line 65, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* ============================================ */
/* CONTAINERS */
/* line 75, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
[class*="__container"] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* PC */
/* @media (max-width: 1290) {
    [class*="__container"] {
        max-width: px;
    }
} */
/* TABLET */
@media (max-width: 991.98px) {
  /* line 90, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
  [class*="__container"] {
    max-width: 822px;
  }
}

/* MOBILE */
@media (max-width: 767.98px) {
  /* line 97, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
  [class*="__container"] {
    max-width: 648px;
  }
}

/* ============================================ */
/* TEXT CODE */
/* line 105, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.text-white {
  color: #fafafa;
}

/* line 109, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.text__title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  color: #1b1c24;
}

/* line 118, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.text__header {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #1b1c24;
}

/* line 127, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.text__header2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fafafa;
}

/* line 136, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.text__text {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #1b1c24;
}

/* line 146, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.text__link {
  text-decoration: underline;
  color: #1b1c24;
  transition: color 300ms ease-in-out;
}

/* line 151, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.text__link:hover {
  color: #00c69f;
  transition: color 300ms ease-in-out;
}

/* line 157, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.text__italic {
  font-style: italic;
}

/* line 161, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-button {
  max-width: 220px;
  max-height: 54px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

/* line 169, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-button .button {
  font-family: 'Mulish';
  display: flex;
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
}

/* line 177, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-button .button-green {
  padding: 15px 29px;
  background-color: #7cf4dd;
  color: #1b1c24;
  border-radius: 10px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

/* line 184, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-button .button-green:hover {
  background-color: #00c69f;
  color: #fafafa;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

/* line 191, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-button .button-blue {
  padding: 15px 48px;
  background-color: #7cc9f4;
  color: #1b1c24;
  border-radius: 10px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

/* line 198, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-button .button-blue:hover {
  background-color: #007dc3;
  color: #fafafa;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

/* line 206, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.other-works {
  padding: 50px 0 0 0;
}

/* line 210, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.other-works .other-works__container .other-works__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* ============================================ */
/* HEADER CODE */
/* line 222, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

/* line 229, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.header .header__container {
  display: flex;
  padding: 35px 15px;
  align-items: center;
}

/* line 234, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.header .header__container .header__logo {
  position: relative;
  z-index: 5;
}

/* line 239, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.header .header__container .header__menu {
  flex: 1 1 auto;
}

/* line 242, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.header .header__container .header__menu .menu__body {
  display: flex;
  justify-content: flex-end;
}

/* line 246, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.header .header__container .header__menu .menu__body .menu__list {
  display: flex;
  gap: 50px;
}

/* line 250, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.header .header__container .header__menu .menu__body .menu__list .menu__link {
  font-family: "Mulish";
  font-weight: 700;
  line-height: 2.4;
  color: #1b1c24;
  transition: color 300ms ease-in-out;
}

/* line 257, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.header .header__container .header__menu .menu__body .menu__list .menu__link:hover {
  color: #00c69f;
  transition: color 300ms ease-in-out;
}

/* ============================================ */
/* MAIN CODE */
/* line 271, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.main {
  flex: 1 1 auto;
}

/* ============================================ */
/* BLOCK-1 CODE */
/* line 278, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.block-1 {
  padding-top: 199px;
}

/* line 281, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.block-1 .block-1__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* line 287, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.block-1 .block-1__container .block-1__content {
  text-align: center;
}

/* line 290, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.block-1 .block-1__container .block-1__content .block-1__title {
  padding: 0 0 16px 0;
}

/* line 297, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.block-2 {
  padding-top: 75px;
}

/* line 300, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.block-2 .block-2__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 305, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.block-2 .block-2__container .block-2__content {
  text-align: center;
  align-items: center;
}

/* line 309, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.block-2 .block-2__container .block-2__content .block-2__separator {
  width: 57.5rem;
  height: 2px;
  background-color: #1b1c24;
  margin: 0 0 75px 0;
}

/* line 319, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-block {
  padding: 50px 0 50px 0;
}

/* line 323, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-block .work-block__container .work-block__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

/* line 330, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-block .work-block__container .work-block__content .work-block__image {
  border-radius: 20px;
  flex: 1 0 49%;
  max-width: 543px;
  max-height: 407px;
  overflow: hidden;
  /* fixes border-radius bug in webkit */
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

/* line 341, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-block .work-block__container .work-block__content .work-block__image .work-block__image-content {
  flex: 1 0 49%;
  max-width: 543px;
  max-height: 407px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

/* line 349, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-block .work-block__container .work-block__content .work-block__image .work-block__image-content:hover {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2);
}

/* line 356, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-block .work-block__container .work-block__content .work-block__text {
  flex: 1 1 51%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* line 362, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
.work-block .work-block__container .work-block__content .work-block__text .text__title,
.work-block .work-block__container .work-block__content .work-block__text .text__text {
  text-align: left;
}

/* ============================================ */
/* FOOTER CODE */
/* line 376, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
footer .footer__container {
  padding: 150px 0 0 0;
}

/* line 379, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
footer .footer__container .footer__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 50px 0;
}

/* line 384, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
footer .footer__container .footer__content .footer__main-block {
  flex: 1 0 48%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* line 390, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
footer .footer__container .footer__content .footer__main-block .footer__greetings {
  flex: 1 0 90%;
}

/* line 394, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
footer .footer__container .footer__content .footer__main-block .footer__copyrights {
  flex: 1 0 10%;
}

/* line 399, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
footer .footer__container .footer__content .footer__socials {
  flex: 1 0 52%;
  justify-content: flex-end;
  display: flex;
}

/* line 404, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
footer .footer__container .footer__content .footer__socials .footer__socials-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}

/* line 412, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
footer .footer__container .footer__content .footer__socials .footer__socials-list .socials-variant .social_link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: #1b1c24;
  transition: color 300ms ease-in-out;
}

/* line 422, ../../../../../Users/ybhpg/Desktop/programming/Web/Portfolio/sass/index.scss */
footer .footer__container .footer__content .footer__socials .footer__socials-list .socials-variant .social_link:hover {
  color: #007dc3;
  transition: color 300ms ease-in-out;
}

/*# sourceMappingURL=index.css.map */