@charset "UTF-8";
/* Переменные */
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Red Hat Text";
  font-size: 16px;
  color: rgb(27, 28, 36);
  background-color: rgb(250, 250, 250);
}

/* ============================================ */
/* WHOLE CONTENT WRAPPER CODE */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* ============================================ */
/* CONTAINERS */
[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* PC */
/* @media (max-width: 1290) {
    [class*="__container"] {
        max-width: px;
    }
} */
/* TABLET */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 822px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: 648px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media (min-width: 320px) and (max-width: 599.98px) {
  [class*=__container] {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
/* ============================================ */
/* TEXT CODE */
.text-white {
  color: rgb(250, 250, 250);
}

.text__title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  color: rgb(27, 28, 36);
}

.text__header {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: rgb(27, 28, 36);
}

.text__header2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgb(250, 250, 250);
}

.text__text {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: rgb(27, 28, 36);
}

.text__link {
  text-decoration: underline;
  color: rgb(27, 28, 36);
  transition: color 300ms ease-in-out;
}
.text__link:focus, .text__link:hover {
  color: rgb(0, 198, 159);
  transition: color 300ms ease-in-out;
}

.text__italic {
  font-style: italic;
}

.work-button {
  max-width: 220px;
  max-height: 54px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
.work-button .button {
  font-family: "Mulish";
  display: flex;
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
}
.work-button .button-green {
  padding: 15px 29px;
  background-color: rgb(124, 244, 221);
  color: rgb(27, 28, 36);
  border-radius: 10px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.work-button .button-green:focus, .work-button .button-green:hover {
  background-color: rgb(0, 198, 159);
  color: rgb(250, 250, 250);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.work-button .button-blue {
  padding: 15px 48px;
  background-color: rgb(124, 201, 244);
  color: rgb(27, 28, 36);
  border-radius: 10px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.work-button .button-blue:focus, .work-button .button-blue:hover {
  background-color: rgb(0, 125, 195);
  color: rgb(250, 250, 250);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.other-works {
  padding: 50px 0 0 0;
}
.other-works .other-works__container .other-works__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 599.98px) {
  .text__title {
    font-size: 2rem;
  }
}
/* ============================================ */
/* HEADER CODE */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .header__container {
  display: flex;
  padding: 35px 15px;
  align-items: center;
}
.header .header__container .header__logo {
  position: relative;
  z-index: 5;
}
.header .header__container .header__menu {
  flex: 1 1 auto;
}
.header .header__container .header__menu .menu__body {
  display: flex;
  justify-content: flex-end;
}
.header .header__container .header__menu .menu__body .menu__list {
  display: flex;
  gap: 50px;
}
.header .header__container .header__menu .menu__body .menu__list .menu__link {
  font-family: "Mulish";
  font-weight: 700;
  line-height: 2.4;
  color: rgb(27, 28, 36);
  transition: color 300ms ease-in-out;
}
.header .header__container .header__menu .menu__body .menu__list .menu__link:focus, .header .header__container .header__menu .menu__body .menu__list .menu__link:hover {
  color: rgb(0, 198, 159);
  transition: color 300ms ease-in-out;
}

@media (max-width: 500px) {
  .header .header__container .header__menu .menu__body {
    display: none;
  }
}
/* ============================================ */
/* MAIN CODE */
.main {
  flex: 1 1 auto;
}

/* ============================================ */
/* BLOCK-1 CODE */
.block-1 {
  padding-top: 199px;
}
.block-1 .block-1__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.block-1 .block-1__container .block-1__content {
  text-align: center;
}
.block-1 .block-1__container .block-1__content .block-1__title {
  padding: 0 0 16px 0;
}

.block-2 {
  padding-top: 75px;
}
.block-2 .block-2__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-2 .block-2__container .block-2__content {
  text-align: center;
  align-items: center;
}
.block-2 .block-2__container .block-2__content .block-2__separator {
  width: 57.5rem;
  height: 2px;
  background-color: rgb(27, 28, 36);
  margin: 0 0 75px 0;
}

@media (max-width: 991.98px) {
  .block-2__content {
    max-width: 80%;
    margin: 0 auto;
  }
  .block-2__content .block-2__separator {
    max-width: 100%;
  }
}
.work-block {
  padding: 30px 0 50px 0;
}
.work-block .work-block__container {
  padding-top: 50px;
}
.work-block .work-block__container .work-block__content {
  padding: 20px 20px 20px 20px;
  display: flex;
  border-radius: 20px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  transition: all 300ms ease-in-out;
}
.work-block .work-block__container .work-block__content:focus, .work-block .work-block__container .work-block__content:hover {
  border-radius: 20px;
  background: #efefef;
  box-shadow: 19px 19px 41px #c8c8c8, -19px -19px 41px #fefefe;
  transition: all 500ms ease;
}
.work-block .work-block__container .work-block__content:focus .work-block__image, .work-block .work-block__container .work-block__content:hover .work-block__image {
  /* fixes border-radius bug in webkit */
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.work-block .work-block__container .work-block__content:focus .work-block__image .work-block__image-content, .work-block .work-block__container .work-block__content:hover .work-block__image .work-block__image-content {
  transition: 0.5s all ease-in-out;
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2);
}
.work-block .work-block__container .work-block__content .work-block__image {
  border-radius: 20px;
  flex: 1 0 49%;
  max-width: 543px;
  max-height: 407px;
  overflow: hidden;
  resize: vertical;
  /* fixes border-radius bug in webkit */
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.work-block .work-block__container .work-block__content .work-block__image .work-block__image-content {
  flex: 1 0 49%;
  max-width: 543px;
  max-height: 407px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
.work-block .work-block__container .work-block__content .work-block__image .work-block__image-content:focus, .work-block .work-block__container .work-block__content .work-block__image .work-block__image-content:hover {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2);
}
.work-block .work-block__container .work-block__content .work-block__text {
  flex: 1 1 51%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.work-block .work-block__container .work-block__content .work-block__text .text__title,
.work-block .work-block__container .work-block__content .work-block__text .text__text {
  text-align: left;
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .work-block {
    padding: 20px 0;
  }
  .work-block .work-block__container .work-block__content {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .work-block .work-block__container .work-block__content .work-block__image {
    width: 100%;
  }
  .work-block .work-block__container .work-block__content .work-block__image .work-block__image-content {
    width: 100%;
    height: auto;
  }

  .work-button {
    margin: 0 auto;
  }
}
/* ============================================ */
/* FOOTER CODE */
footer .footer__container {
  padding-top: 150px;
}
footer .footer__container .footer__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 50px 0;
}
footer .footer__container .footer__content .footer__main-block {
  flex: 1 0 48%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer__container .footer__content .footer__main-block .footer__greetings {
  flex: 1 0 90%;
}
footer .footer__container .footer__content .footer__main-block .footer__copyrights {
  flex: 1 0 10%;
}
footer .footer__container .footer__content .footer__socials {
  flex: 1 1 52%;
  justify-content: flex-end;
  display: flex;
}
footer .footer__container .footer__content .footer__socials .footer__socials-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}
footer .footer__container .footer__content .footer__socials .footer__socials-list .socials-variant .social_link {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  color: rgb(27, 28, 36);
  transition: color 300ms ease-in-out;
}
footer .footer__container .footer__content .footer__socials .footer__socials-list .socials-variant .social_link:focus, footer .footer__container .footer__content .footer__socials .footer__socials-list .socials-variant .social_link:hover {
  color: rgb(0, 125, 195);
  transition: color 300ms ease-in-out;
}

@media (max-width: 767.98px) {
  footer .footer__container .footer__content {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
}
@media (min-width: 320px) and (max-width: 599.98px) {
  footer .footer__container .footer__content {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
}
@media (max-width: 430px) {
  footer .footer__container .footer__content .footer__socials .footer__socials-list {
    flex-direction: column;
  }
  footer .footer__container .footer__content .footer__socials .footer__socials-list :nth-child(even) {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
