/* Переменные */

$primary-black: rgba(27, 28, 36, 1);
$primary-black-transparent: rgba(27, 28, 36, 0.4);
$primary-white: rgba(250, 250, 250, 1);
$primary-white-transparent: rgba(250, 250, 250, 0.4);
$secondary: rgba(124, 244, 221, 1);
$secondary-hover: rgba(0, 198, 159, 1);
$tertiary: rgba(124, 201, 244, 1);
$tertiary-hover: rgba(0, 125, 195, 1);

$hover-transition: color 300ms ease-in-out;

/* Обнуление */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: "Red Hat Text";
    font-size: 16px;
    color: $primary-white;
    background-color: $primary-black;
}

/* ============================================ */
/* WHOLE CONTENT WRAPPER CODE */

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ============================================ */
/* CONTAINERS */

[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* PC */
/* @media (max-width: 1290) {
    [class*="__container"] {
        max-width: px;
    }
} */

/* TABLET */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 822px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: 648px;
    }
}

/* ============================================ */
/* TEXT CODE */

.text-white {
    color: $primary-white;
}

.text__title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    color: $primary-white;
}

.text__header {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: $primary-white;
}

.text__header2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: $primary-white;
}

.text__text {
    font-family: "Red Hat Text";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    text-align: center;
    color: $primary-white;
}

.text__link {
    text-decoration: underline;
    color: $primary-white;
    transition: $hover-transition;
    
    &:hover {
        color: $secondary-hover;
        transition: $hover-transition;
    }
}

/* ============================================ */
/* HEADER CODE */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    
    .header__container {
        display: flex;
        padding: 35px 15px;
        align-items: center;
        
        .header__logo {
            position: relative;
            z-index: 5;
        }
        
        .header__menu {
            flex: 1 1 auto;
            
            .menu__body {
                display: flex;
                justify-content: flex-end;
                
                .menu__list {
                    display: flex;
                    gap: 50px;
                    
                    .menu__link {
                        font-family: "Mulish";
                        font-weight: 700;
                        line-height: 2.4;
                        color: $primary-white;
                        transition: $hover-transition;
                        
                        &:hover {
                            color: $secondary-hover;
                            transition: $hover-transition;
                        }
                    }
                }
            }
        }
    }
}

/* ============================================ */
/* MAIN CODE */

.main {
    flex: 1 1 auto;
}

/* ============================================ */
/* BLOCK-1 CODE */

.block-1 {
    padding: 187px 0 0 0;

    .block-1__container {

        .block-1__content {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            .block-1__image {
                flex: 1 0 41%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center; 
                text-align: start;

                .block-1__image-header {
                    flex: 1 0 100%;
                    text-align: inherit;
                }

                .block-1__image-image {
                    max-height: 458px;
                    max-width: 320px;
                    margin: 30px 0 0 0;
                    overflow: hidden;
                    filter: drop-shadow(0px 31.6728px 55.4274px rgba(250, 250, 250, 0.0196802)) drop-shadow(0px 13.2321px 23.1562px rgba(250, 250, 250, 0.0282725)) drop-shadow(0px 7.07453px 12.3804px rgba(250, 250, 250, 0.035)) drop-shadow(0px 3.96592px 6.94037px rgba(250, 250, 250, 0.0417275)) drop-shadow(0px 2.10627px 3.68598px rgba(250, 250, 250, 0.0503198)) drop-shadow(0px 0.876467px 1.53382px rgba(250, 250, 250, 0.07));
                    border-radius: 20px;

                    img {
                        max-height: 458px;
                        width: auto;
                        object-fit: cover;
                    }
                }
            }

            .block-1__text {
                max-width: 545px;
                text-align: left;
            }
        }
    }
}

/* ============================================ */
/* BLOCK-2 CODE */

.block-2 {
    padding: 200px 0 0 0;
    
    .block-2__container {
        
        .block-2__content {
            display: flex;
            justify-content: space-between;
            text-align: start;
            
            .block-2__card {
                flex: 1 0 33%;
                display: flex;
                flex-direction: column;
                gap: 36px;
                flex-wrap: nowrap;
                max-width: 300px;
                max-height: 557px;
                
                .block-2__card-picture {
                    flex: 1 0 100%;
                    overflow: hidden;
                    max-width: 300px;
                    max-height: 300px;
                    filter: drop-shadow(0 36px 63px rgba(250, 250, 250, 0.0196802)) drop-shadow(0 15.0399px 26.3199px rgba(250, 250, 250, 0.0282725)) drop-shadow(0 8.04107px 14.0719px rgba(250, 250, 250, 0.035)) drop-shadow(0 4.50776px 7.88858px rgba(250, 250, 250, 0.0417275)) drop-shadow(0 2.39404px 4.18956px rgba(250, 250, 250, 0.0503198)) drop-shadow(0 0.996212px 1.74337px rgba(250, 250, 250, 0.07));
                    border-radius: 20px;
                    
                    img {
                        width: auto;
                        max-height: 100%;
                    }

                    .height-auto-image {
                        max-height: none;
                        height: auto;
                        max-width: 100%;
                        object-fit: cover;
                    }
                }
                
                .block-2__card-text {
                    flex: 1 0 100%;
                    max-width: 300px;
                    text-align: left;
                }
            }
            
        }
        
    }
}

/* ============================================ */
/* FOOTER CODE */

footer {

    .footer__container {
        padding: 150px 0 0 0;
    
        .footer__content {
            display: flex;
            flex-wrap: wrap;
            padding: 0 0 50px 0;

            .footer__main-block {
                flex: 1 0 48%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .footer__greetings {
                    flex: 1 0 90%;
                }

                .footer__copyrights {
                    flex: 1 0 10%;
                }
            }

            .footer__socials {
                flex: 1 0 52%;
                justify-content: flex-end;
                display: flex;

                .footer__socials-list {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 20px;

                    .socials-variant {
                        .social_link {
                            font-family: "Red Hat Text";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 120%;
                            text-align: center;
                            color: $primary-white;
                            transition: color 300ms ease-in-out;

                            &:hover {
                                color: $tertiary-hover;
                                transition: color 300ms ease-in-out;
                            }
                        }
                    }       
                }
            }
        }
    }
}