@use "variables";

/* ============================================ */
/* HEADER CODE */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    .header__container {
        display: flex;
        padding: 35px 15px;
        align-items: center;
        color: variables.$primary-black;

        .header__logo {
            position: relative;
            z-index: 5;
        }

        .header__menu {
            flex: 1 1 auto;

            .menu__body {
                display: flex;
                justify-content: flex-end;

                .menu__list {
                    display: flex;
                    gap: 50px;

                    .menu__link {
                        font-family: "Mulish";
                        font-weight: 700;
                        line-height: 2.4;
                        transition: variables.$hover-transition;

                        &:focus,
                        &:hover {
                            color: variables.$secondary-hover;
                            transition: variables.$hover-transition;
                        }
                    }
                }

                .burger-button {
                    width: 30px;
                    height: 30px;

                    .burger-button_link {
                        text-decoration: none;
                        height: inherit;
                        display: block;
                        justify-content: center;
                        align-items: center;

                        .burger-button_line {
                            height: 4px;
                            width: 30px;
                            background-color: variables.$primary-black;
                            border-radius: 2px;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .header {
        .header__container {
            .header__menu {
                .menu__body {
                    .menu__list {
                        display: none;
                    }

                    .hamburger-lines {
                        display: flex;

                        .open-button {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}
