/* Zeroing */

@use "variables";

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    scroll-behavior: smooth;
}

body {
    font-family: "Red Hat Text";
    font-size: 16px;
    color: variables.$primary-black;
    background-color: variables.$primary-white;
}

.body_white {
    background-color: variables.$primary-white;
}

.body_black {
    background-color: variables.$primary-black;
}

/* ============================================== */
/* Containers  */

/* WHOLE PAGE WRAPPER */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* DEFAULT */
[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* TABLET */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 822px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: 648px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media (min-width: 320px) and (max-width: 599.98px) {
    [class*="__container"] {
        max-width: 540px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

/* MAIN CODE */
.main {
    flex: 1 1 auto;
}

/* ============================================== */
/* Fonts */

/* TEXT CODE */
.text__title {
    font-family: "DM Sans", "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 120%;
    color: variables.$primary-black;
}

.text__header {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: variables.$primary-black;
}

.text__header2 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: variables.$primary-white;
}

.text__text {
    font-family: "Red Hat Text", "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    text-align: left;
    color: variables.$primary-black;
}

.text__link {
    text-decoration: underline;
    color: variables.$primary-black;
    transition: variables.$hover-transition;

    &:focus,
    &:hover {
        color: variables.$secondary-hover;
        transition: variables.$hover-transition;
    }
}

.text-center {
    text-align: center;
}

.text__italic {
    font-style: italic;
}

.text-white {
    color: variables.$primary-white;
}

.text-black {
    color: variables.$primary-black;
}

/* MEDIA FOR TEXT */
@media (max-width: 767.98px) {
    .text__header2 {
        font-size: 1rem;
    }
}

@media (max-width: 599.98px) {
    .text__title {
        font-size: 2rem;
    }
}

/* ============================================== */
/* Header */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    .header__container {
        display: flex;
        padding: 35px 15px;
        align-items: center;
        color: variables.$primary-black;

        .header__logo {
            position: relative;
            z-index: 5;
        }

        .header__menu {
            flex: 1 1 auto;

            .menu__body {
                display: flex;
                justify-content: flex-end;

                .menu__list {
                    display: flex;
                    gap: 50px;

                    .menu__link {
                        font-family: "Mulish";
                        font-weight: 700;
                        line-height: 2.4;
                        transition: variables.$hover-transition;

                        &:focus,
                        &:hover {
                            color: variables.$secondary-hover;
                            transition: variables.$hover-transition;
                        }
                    }
                }
            }

            .burger-button {
                position: relative;
                right: 15px;
                float: right;
                .burger-button_link {
                    position: relative;
                    height: 24px;
                    width: 30px;
                    display: hidden;
                    flex-direction: column;
                    justify-content: space-between;

                    .burger-button_line {
                        height: 4px;
                        width: 30px;
                        background-color: variables.$primary-black;
                        border-radius: 2px;

                        &:target {
                            background-color: variables.$secondary;
                        }
                    }

                    &::before,
                    &::after {
                        content: "";
                        background-color: variables.$primary-black;
                        height: 4px;
                        border-radius: 2px;

                        &:target {
                            background-color: variables.$secondary;
                        }
                    }

                    &::before {
                        position: relative;
                        left: 7px;
                    }

                    &::after {
                        position: relative;
                        left: -7px;
                    }
                }
            }

            .burger-button_white {
                position: relative;
                right: 15px;
                float: right;
                .burger-button_link {
                    position: relative;
                    height: 24px;
                    width: 30px;
                    display: hidden;
                    flex-direction: column;
                    justify-content: space-between;

                    .burger-button_line {
                        height: 4px;
                        width: 30px;
                        background-color: variables.$primary-white;
                        border-radius: 2px;

                        &:target {
                            background-color: variables.$secondary;
                        }
                    }

                    &::before,
                    &::after {
                        content: "";
                        background-color: variables.$primary-white;
                        height: 4px;
                        border-radius: 2px;

                        &:target {
                            background-color: variables.$secondary;
                        }
                    }

                    &::before {
                        position: relative;
                        left: 7px;
                    }

                    &::after {
                        position: relative;
                        left: -7px;
                    }
                }
            }
        }
    }
}

@media (max-width: 499.98px) {
    .header {
        .header__container {
            .header__menu {
                .menu__body {
                    opacity: 0;
                    position: fixed;
                    top: -100%;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: stretch;
                    justify-content: center;
                    background-color: variables.$primary-white;
                    transition: all 1s ease;

                    .menu__list {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .menu__link {
                            font-size: 2rem;
                        }
                    }
                }

                .burger-button {
                    .burger-button_link {
                        display: flex;
                    }
                }

                .burger-button_white {
                    .burger-button_link {
                        display: flex;
                    }
                }
            }
        }
    }

    .menu__body.fade {
        opacity: 1;
        top: 0px;
        transition: all 0.1s ease;
    }
}

/* ============================================== */
/* Footer */

footer {
    .footer__container {
        padding-top: 150px;

        .footer__content {
            display: flex;
            flex-wrap: wrap;
            padding: 0 0 50px 0;

            .footer__main-block {
                flex: 1 0 48%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .footer__greetings {
                    flex: 1 0 90%;
                }

                .footer__copyrights {
                    flex: 1 0 10%;
                }
            }

            .footer__socials {
                flex: 1 1 52%;
                justify-content: flex-end;
                display: flex;

                .footer__socials-list {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 20px;

                    .socials-variant {
                        .social_link {
                            font-family: "Red Hat Text", "Raleway", sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 120%;
                            text-align: center;
                            color: variables.$primary-black;
                            transition: color 300ms ease-in-out;

                            &:focus,
                            &:hover {
                                color: variables.$tertiary-hover;
                                transition: color 300ms ease-in-out;
                            }
                        }

                        .social_link_white {
                            font-family: "Red Hat Text", "Raleway", sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 120%;
                            text-align: center;
                            color: variables.$primary-white;
                            transition: color 300ms ease-in-out;

                            &:focus,
                            &:hover {
                                color: variables.$tertiary-hover;
                                transition: color 300ms ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    footer {
        .footer__container {
            .footer__content {
                flex-direction: column;
                gap: 30px;
                align-items: flex-start;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 599.98px) {
    footer {
        .footer__container {
            .footer__content {
                flex-direction: column;
                gap: 30px;
                align-items: flex-start;
            }
        }
    }
}

@media (max-width: 430px) {
    footer {
        .footer__container {
            .footer__content {
                .footer__socials {
                    .footer__socials-list {
                        flex-direction: column;

                        :nth-child(even) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* ============================================== */
/* Buttons */

.work-button {
    max-width: 250px;
    max-height: 54px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    .button {
        font-family: "Mulish";
        display: flex;
        text-decoration: none;
        font-size: 1.25rem;
        position: relative;
    }

    .button-green {
        padding: 15px 29px;
        background-color: variables.$secondary;
        color: variables.$primary-black;
        border-radius: 10px;
        transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

        &:focus,
        &:hover {
            background-color: variables.$secondary-hover;
            color: variables.$primary-white;
            transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
        }
    }

    .button-blue {
        padding: 15px 48px;
        background-color: variables.$tertiary;
        color: variables.$primary-black;
        border-radius: 10px;
        transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

        &:focus,
        &:hover {
            background-color: variables.$tertiary-hover;
            color: variables.$primary-white;
            transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
        }
    }
}

.other-works {
    padding: 50px 0 0 0;

    .other-works__container {
        .other-works__content {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
    }
}

.top_button {
    opacity: 0;
    display: flex; /* Hidden by default */
    align-items: center;
    justify-content: center;
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    width: 70px;
    height: 70px;
    background: #fafafa;
    border-radius: 50px;

    .top-button__image {
        padding-left: 2px;
        width: 70px;
        height: 70px;

        max-width: 36px;
        max-height: 36px;

        filter: invert(0.7);
        -webkit-filter: invert(0.7);
    }

    transition: 500ms all ease;

    &:hover {
        background: #efefef;
        box-shadow: 19px 19px 41px #c8c8c8, -19px -19px 41px #fefefe;
        transition: all 500ms ease;

        .top-button__image {
            filter: invert(0);
            -webkit-filter: invert(0);
            transition: all 500ms ease;
        }
    }
}

.top_button-dark {
    opacity: 0;
    display: flex; /* Hidden by default */
    align-items: center;
    justify-content: center;
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    width: 70px;
    height: 70px;
    background: variables.$primary-black;
    border-radius: 50px;

    .top-button__image {
        padding-left: 2px;
        width: 70px;
        height: 70px;

        max-width: 36px;
        max-height: 36px;

        filter: invert(0.7);
        -webkit-filter: invert(0.7);
    }

    transition: 500ms all ease;

    &:hover {
        background: #272730;
        box-shadow: 15px 15px 30px #17171c, -15px -15px 30px #292b32;
        transition: all 500ms ease;

        .top-button__image {
            filter: invert(0.8);
            -webkit-filter: invert(0.8);
            transition: all 500ms ease;
        }
    }
}

.appear {
    opacity: 1;
}
