/* Цвета */

$primary-black: rgba(27, 28, 36, 1);
$primary-black-transparent: rgba(27, 28, 36, 0.4);
$primary-white: rgba(250, 250, 250, 1);
$primary-white-transparent: rgba(250, 250, 250, 0.4);
$secondary: rgba(124, 244, 221, 1);
$secondary-hover: rgba(0, 198, 159, 1);
$tertiary: rgba(124, 201, 244, 1);
$tertiary-hover: rgba(0, 125, 195, 1);

/* Анимации */

$hover-transition: color 300ms ease-in-out;
