/* ============================================ */
/* WHOLE PAGE WRAPPER */

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ============================================ */
/* CONTAINERS */

[class*="__container"] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* PC */
/* @media (max-width: 1290px) {
    [class*="__container"] {
        max-width: px;
    }
} */

/* TABLET */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 822px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: 648px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media (min-width: 320px) and (max-width: 599.98px) {
    [class*="__container"] {
        max-width: 540px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

/* ============================================ */
/* MAIN CODE */

.main {
    flex: 1 1 auto;
}
