@use 'variables';

.text__main-title {
  font-family: "Josefin Sans", "Bellota Text", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
  color: variables.$primary-black;
}

.text__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 120%;
  color: variables.$primary-black;
  text-align: left;
}

.text__header {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  color: variables.$primary-black;
}

.text__text {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  text-align: left;
  color: variables.$primary-black;
}

.text__link {
  text-decoration: underline;
  color: variables.$primary-black;
  transition: variables.$hover-transition;

  .pointer {
    &:hover {
      width: 20px;
      height: 20px;
      background-color: rgba($color: #383838, $alpha: 0.5);
      transition: all 300ms ease-out;
    }
  }

  &:focus,
  &:hover {
    color: variables.$secondary-hover;
    transition: variables.$hover-transition;
  }
}

.text-center {
  text-align: center;
}

.text__italic {
  font-style: italic;
}

.text-white {
  color: variables.$primary-white;
}

.text-black {
  color: variables.$primary-black;
}

/* MEDIA FOR TEXT */
@media (max-width: 767.98px) {
  .text__header2 {
    font-size: 1rem;
  }
}

@media (max-width: 599.98px) {
  .text__title {
    font-size: 2rem;
  }
}
